body {
    margin: 0;
    background: #047eab;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
}

.note-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.note {
    height: 250px;
    width: 250px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    resize: none;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    position: relative;
    gap: 10px;
   width: auto;
}

.add-note {
    height: 250px;
    width: 250px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 100px;
    cursor: pointer;
}

.add-note:hover {
    background: rgba(0, 0, 0, 0.4);
}

.note-creation,
.note-update {
    position: relative;
    float: right;
    font-size: 11px;
}
