html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.notes{
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes_preview{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 4em 3em;
    width: 100%;
}

.notes_body,
.notes_title{
    border: none;
    outline: none;
    width: 100%;
}

.notes_title{
    background-color: rgb(207, 204, 204);
    border-radius: 10px;
    font-size: 3.5em;
    font-weight: bold;
}

.notes_body{
    flex-grow: 1;
    background-color: rgb(207, 204, 204);
    border-radius: 10px;
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 1em;
    resize: none;
}

.notes_sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes_add{
    background-color: rgb(115, 26, 197);
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
    border: none; 
    border-radius: 10px;
    padding: 1em 0;
    margin: 1.5em;
    font-size: 1.25em;
    width: 80%;
}

.notes_add:hover{
    background-color: rgb(140, 69, 207);
}

.notes_list-item{
    cursor: pointer;
}

.notes_list-item--selected{
    background-color: #dddddd;
    border-radius: 7px;
    font-weight: bold;
}

.notes_small-title,
.notes_small-body{
    padding: 5px;
}

.notes_remove{
    background-color: rgb(115, 26, 197);
    border: none;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 8px;
}

.notes_remove:hover{
    background-color: rgb(140, 69, 207);
}

.notes_small-title {
    font-size: 1.2em;
}

.notes_small-body {
    padding: 0 10px;
}

.notes_small-updated{
    font-style:oblique;
    color: rgb(68, 66, 66);
    text-align: right;
}